@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}



.b {
    border-top: 2px solid hsl(0, 78%, 62%) !important;
}

.a {
    border-top: 2px solid hsl(180, 62%, 55%) !important;
}

.c {
    border-top: 2px solid hsl(34, 97%, 64%) !important;
}

.d {
    border-top: 2px solid hsl(212, 86%, 64%) !important;
}

@media(max-width: 767px) {

    .col1,
    .col2,
    .col3 {

        margin-top: 2rem !important;
        padding: 0 !important;
    }


    .row {
        padding: 0 !important;

    }



}

@media (min-width : 768px) and (max-width : 1200px) {

    .row {
        padding: 0 !important;
    }
}